.breadcrumbs {
    padding-top: 85px;
    margin-bottom: 30px;

    ul {
        display: flex;
        align-items: center;

        a {
            font-size: 14px;
            line-height: 26px;
            color: #898989;
        }

        span {
            font-size: 14px;
            line-height: 26px;
            color: #B0292E;
        }

        li {
            +li {
                margin-left: 13px;

                &:before {
                    content: '/';
                    font-size: 14px;
                    line-height: 26px;
                    margin-right: 13px;
                    color: #898989;
                }
            }
        }
    }
}

.catalog__title {
    margin-bottom: 40px;
}

.filter {
    margin-bottom: 40px;

    .filter__head {
        display: flex;
    }

    a {
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        text-decoration-line: underline;
        color: #FFFFFF;
        margin-right: 10px;
    }

    img {
        width: 18px;
        height: 18px;
        background-size: cover;
    }

    .open-filter {
        display: none;
    }

    &.open {
        .open-filter {
            display: block;
        }

        .hide-filter {
            display: none;
        }
    }
}

.filter__inner {
    background: #F7F7F7;
    border-radius: 20px;
    padding: 30px;
    display: none;
    margin-top: 20px;
    margin-bottom: 80px;

    a {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #111111;
        display: table;
        margin: 0 auto;
    }
}

.catalog__notchoose{
    padding: 20px 0 100px;
    h2{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #FFFFFF;
    }
    p{
        font-weight: 300;
        font-size: 18px;
        line-height: 144%;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
}