.contacts {
    background-color: #111111;
}






.contacts__title {
    h1 {
        display: inline-block;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 4px;
    }
}

.contacts__box {
    padding: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;

    .frame {
        position: absolute;
        right: 1px;
        top: 50%;
        transform: translateY(-50%);
    }

    &-header {
        p {
            font-weight: 800;
            font-size: 12px;
            line-height: 30px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            font-family: 'Mulish';
        }

        h2 {
            font-weight: 800;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            font-family: 'Mulish';
        }
    }

    &-row {
        position: relative;
        margin-top: 20px;
        padding-left: 30px;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 20px;
            background-size: cover;
            transform: translateY(-50%);
        }

        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            color: #FFFFFF;
        }

        &.location {
            &:after {
                background-image: url(../img/svg_icons/location_icon.svg);
            }

            a {
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 26px;
                text-decoration-line: underline;
                color: #B0292E;
                text-decoration: underline;
            }
        }

        &.phone {
            &:after {
                background-image: url(../img/svg_icons/phone_icon.svg);
            }

            a {
                font-weight: 300;
                font-size: 18px;
                line-height: 26px;
                display: block;
                color: #FFFFFF;
            }
        }

        &.email {
            &:after {
                background-image: url(../img/svg_icons/email_icon.svg);
            }

            a {
                font-weight: 300;
                font-size: 18px;
                line-height: 26px;
                display: block;
                color: #FFFFFF;
            }
        }
    }
}

//  RESPOINSIVE --------------- //

@media (min-width: 1200px) {

    .contacts__box-header h2 {
        font-size: 30px;
    }

    .contacts__box-header p {
        font-size: 14px;
    }

    .contacts__box {
        padding: 40px;
        min-height: 370px;
    }
}

@media (min-width: 1600px) {
    .contacts__box {
        min-height: auto;
    }
}