.footer {
    position: fixed;
    width: 100%;
    z-index: 50;
    bottom: 0;
    left: 0;
    transition: .3s;
    background-color: transparent;
    &.static-footer{
        position: relative;
        border-top: 1px solid #FFFFFF;
        &::before{
            display: none;
        }
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 70px;
        top: -70px;
        left: 0;
        background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
        opacity: 0;
        transition: .3s;
        z-index: -1;
    }
}

.footer__inner {
    padding: 60px 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.open-footer {
    margin: 0 auto 20px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .3s;

    img {
        width: 100%;
        background-size: cover;
        display: block;
        transition: .3s;
    }
}

.footer.active {
    margin-bottom: 0;
    background-color: #111;
    &:before{
        opacity: 1;
        z-index: 9;
    }

    .open-footer img {
        transform: rotate(180deg);
    }
}


.footer-hide {
    display: none;
}
.footer.static-footer{
    .footer-hide {
        display: block;
    }
    .open-footer{
        display: none;
    }
}


.footer__socials {
    h3 {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
}

.footer__socials-row {
    display: flex;

    img {
        width: 30px;
        height: 30px;
        background-size: cover;
    }

    a+a {
        margin-left: 34px;
    }
}

.footer__logo a {
    display: block;
    width: 228px;

    img {
        width: 100%;
        background-size: cover;
    }
}

.footer__phone {
    img {
        width: 30px;
        height: 30px;
        background-size: cover;
        margin-right: 20px;
    }

    a {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

// RESPONSIVE ------------------ //

@media (max-width: 1200px) {
    .footer__socials h3 {
        font-size: 18px;
    }
    .footer__phone a {
        font-size: 18px;
    }
    .footer__socials-row a+a {
        margin-left: 20px;
    }
    .footer {
        position: relative;
        &:before{
            display: none;
        }
    }
    .footer-hide {
        display: block;
    }
    .open-footer{
        display: none;
    }
}
@media (max-width: 991px) {

    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__logo{
        order: 1;
        width: 50%;
    }
    .footer__socials{
        margin-top: 50px;
        order: 3;
    }
    .footer__phone{
        order: 2;
    }
}

@media (max-width: 576px) {
    .footer__phone,
    .footer__socials{
        width: 100%;
        margin-top: 40px;
    }
}