.investment__title {
    h1 {
        margin-bottom: 20px;
    }
}

.investment__descr {
    margin-bottom: 40px;

    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #CAC9C9;

        &+p {
            margin-top: 5px;
        }
    }
}

.investment__btns {
    margin-bottom: 80px;

    a {
        display: block;
        width: 100%;
        height: 60px;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;

        &+a {
            margin-top: 20px;
        }
    }
}


//  investment slider ----------------- //

.investment__bottom {
    .container-xl {
        padding: 0;
    }
}

.investment__slider {
    width: 100%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    a {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 5;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        &:after {
            content: '';
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: .3s;
        }

        .arrow {
            position: absolute;
            width: 30px;
            height: 30px;
            bottom: 20px;
            left: 47%;
            transform: translateX(-50%);
            opacity: 0;
            transition: .4s;

            svg path {
                fill: #B0292E;
            }
        }


        span {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-top: 10px;
            color: #FFFFFF;
        }
    }

    .swiper-slide {
        height: 260px;
        transform: scale(.7);
        transition: .7s;
    }

    .investment__slider-item {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px;
        position: absolute;
        z-index: 3;
        transition: .4s;
    }

    .swiper-slide-prev {
        .investment__slider-item {
            right: -50%;
            filter: brightness(50%);
            pointer-events: none;
        }
    }

    .swiper-slide-next {
        .investment__slider-item {
            left: -50%;
            filter: brightness(50%);
            pointer-events: none;
        }
    }

    .swiper-slide.swiper-slide-active {
        display: flex;
        justify-content: center;
        transform: scale(1);
        z-index: 2;
    }

    .swiper-button-prev,
    .swiper-button-next {
        z-index: 99;
        width: 40px;
        height: 40px;
        top: 50%;

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        right: 7%;
    }

    .swiper-button-prev {
        left: 7%;
    }
}

.swiper-button-prev,
.swiper-button-next {
    .desctope-arrow {
        display: none;
    }

    &:active {
        svg circle {
            fill: black;
        }

        svg path {
            stroke: white;
        }
    }
}


//  sidebar -------------- //
.sidebar {
    padding: 20px 0;
    border-top: 1px solid #fff;
}

.sidebar__item {
    background: transparent;
    width: 100%;
    height: 80px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 10px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }

    a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        font-family: 'Mulish';
        font-weight: 800;
        font-size: 17px;
        line-height: 21px;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    &+.sidebar__item {
        margin-top: 20px;
    }

    img {
        position: absolute;
        border-radius: 10px;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




// POPUP ------------------------------------- //
.popup__window {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background-color: #111111;
    transition: .3s;
    overflow-y: scroll;

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 999;

        .popup__body {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.popup__wrapper {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popup__body {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    transition: .1s;
    opacity: 0;
    transform: translateY(-10px);
}

.popup__close {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    transition: .3s;
    z-index: 3;

    &:hover {
        filter: brightness(80%);
    }

    img {
        width: 26px;
        height: 26px;
        background-size: cover;
    }
}

.popup__icon {
    margin-bottom: 40px;

    img {
        width: 80px;
        height: 80px;
        background-size: cover;
    }
}

.popup__title {
    margin-bottom: 40px;

    h2 {
        font-weight: 800;
        font-size: 26px;
        line-height: 125%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: 'Mulish';
        color: #FFFFFF;
    }
}

.popup__descr {
    p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }
}



.popup__form {
    width: 100%;

    form {
        max-width: 440px;
        margin: 0 auto;
    }

    input {
        display: block;
        background-color: #111111;
        width: 100%;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 14px 10px 10px;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        border-radius: 0;

        &::placeholder {
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            color: #AEAEAE;
            transition: .4s;
            padding: 0;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }

    button,
    a {
        height: 60px;
        width: 100%;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #B0292E;
        border-radius: 20px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        margin-top: 40px;
        cursor: pointer;
    }
}



// RESPONSIVE ------------- //


@media(min-width: 375px) {
    .popup__descr p {
        font-size: 18px;
    }
}

@media(min-width: 576px) {
    .investment__slider .swiper-slide-active {
        .investment__slider-item {
            width: 80%;
        }
    }

    .investment__slider .swiper-button-prev {
        left: 15%;
    }

    .investment__slider .swiper-button-next {
        right: 15%;
    }

    .sidebar__item {
        height: 100px;
    }

    .sidebar__item {
        a {
            font-size: 20px;
        }
    }
}

@media(min-width: 768px) {
    .popup__title h2 {
        font-size: 36px;
    }

    .investment__btns {
        display: flex;
        justify-content: space-between;

        a {
            width: 47%;

            +a {
                margin: 0;
            }
        }
    }

    .investment__slider .swiper-button-prev {
        left: 22%;
    }

    .investment__slider .swiper-button-next {
        right: 22%;
    }

    .investment__slider .swiper-slide-active .investment__slider-item {
        width: 100%;
    }

    .investment__slider .swiper-slide-next .investment__slider-item {
        left: -20%;
        width: 80%;
    }

    .investment__slider .swiper-slide-prev .investment__slider-item {
        right: -20%;
        width: 80%;
    }

    .investment__slider .swiper-slide {
        transform: scale(.75);
    }

    .sidebar__item {
        height: 150px;
    }

    .sidebar__item {
        a {
            font-size: 22px;
        }
    }
}

@media(min-width: 992px) {

    .popup__form a,
    .popup__form button {
        transition: .3s;
        font-size: 18px;
    }

    .investment__btns a {
        font-size: 18px;
    }

    .popup__title h2 {
        font-size: 40px;
    }

    .investment__slider .swiper-button-prev {
        left: 29%;
    }

    .investment__slider .swiper-button-next {
        right: 29%;
    }

    .investment__slider .swiper-slide-active .investment__slider-item {
        width: 100%;
    }

    .investment__slider .swiper-slide-next .investment__slider-item {
        left: 0%;
        width: 70%;
    }

    .investment__slider .swiper-slide-prev .investment__slider-item {
        right: 0%;
        width: 70%;
    }

    .investment__slider .swiper-slide {
        transform: scale(1);
    }
}

@media(min-width: 1200px) {

    // hidden sidebar -------------------- //

    .sidebar.hidden-sidebar {
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            z-index: -2;
            height: 100%;
            width: 940px;
            transition: .4s;
            background: linear-gradient(90deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.864974) 43.33%, #111111 59.1%);
        }

        &:before {
            content: '';
            position: absolute;
            background-image: url(/img/svg_icons/arrow_back.svg);
            background-repeat: no-repeat;
            left: -20%;
            top: 50%;
            z-index: 3;
            width: 40px;
            height: 40px;
            background-size: cover;
            cursor: pointer;
            transform: rotate(180deg);
            transition: .3s;
        }

        .sidebar__wrapper {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                transform: translateX(-10%);
                opacity: 0;
                transition: all .4s;
                background: linear-gradient(-90deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.864974) 43.33%, #111111 59.1%);
            }
        }


        &.hide {
            width: 50%;

            &:before {
                transform: rotate(0deg);
                left: 20px;
            }

            &:after {
                width: 100%;
                z-index: 2;
                transform: translateX(100%);
                opacity: 0;
            }

            .sidebar__wrapper:after {
                opacity: 1;
                transform: translateX(-1px);

            }

            .sidebar__item a {
                position: absolute;
                transform: rotate(-90deg);
                right: -60%;
                opacity: .5;
            }

            .sidebar__item {
                z-index: -1;
            }
        }
    }


    .popup__form a,
    .popup__form button {
        transition: .3s;

        &:hover {
            color: #111;
            background: #fff;
        }
    }

    .popup__descr p {
        font-size: 20px;
    }

    .popup__title {

        h2 {
            font-size: 50px;
        }
    }

    .contacts__title {
        margin-bottom: 10px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        &:active svg path {
            fill: white;
        }

        .desctope-arrow {
            display: block;
        }

        .mobile-arrow {
            display: none;
        }
    }

    .investment__btns {
        margin-bottom: 100px;
    }

    .investment__slider-item {
        transition: .3s;

        &:hover {
            a:after {
                content: "";
                background: rgba(0, 0, 0, 0.8);
            }

            .arrow {
                opacity: 1;
                left: 50%;
            }
        }
    }

    .sidebar {
        border: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        max-width: 325px;
        padding: 20px 0;
        z-index: 99;

        &.static-sidebar {
            position: absolute;
        }

        .container {
            height: 100%;
            padding: 0;
        }
    }

    .sidebar__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar__item {
        max-width: 325px;
        width: 100%;
        height: 23%;

        &:after {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        }

        &+.sidebar__item {
            margin-top: 0;
        }

        a {
            font-weight: 900;
            font-size: 26px;
            line-height: 30px;
        }
    }
}

@media (min-width:1400px) {
    .sidebar.hidden-sidebar .sidebar__wrapper:after {
        transform: translateX(-20%);
    }
}