.manager {
    padding: 110px 0 60px;
}

.manager-popup .manager {
    max-width: 470px;
}

.manager__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #fff;
    }

    .manager__avatar {
        margin-right: 21px;
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 20px;
        width: 40%;
    }
}

.manager__info h1 {
    display: none;
}

.manager__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-image: url(../img/svg_icons/avatar_border.svg);
    }
}

.manager__descr {
    margin-bottom: 40px;

    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 144%;
        color: #FFFFFF;

        +p {
            margin-top: 20px;
        }
    }

    span,
    a {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #B0292E;
    }
}

.manager__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.manager__btn+.manager__btn {
    margin-top: 20px;
}

.manager__btn.whitebtn,
.manager__btn.redbtn {
    width: 100%;

    a {
        max-width: 100%;
    }
}

.manager__btn.redbtn a {
    &:hover {
        background: #ffffff;
        color: #111111;
    }
}

.manager__btn.whitebtn a {
    &:hover {
        background: #B0292E;
        color: #fff;
    }
}

.manager__contacts-left {
    a {
        font-size: 15px;
        display: block;
        line-height: 26px;
        color: #FFFFFF;
        padding-left: 30px;
        position: relative;

        +a {
            margin-top: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-size: cover;
            background-image: url(../img/svg_icons/telephone_manager_icon.svg);
        }
    }
}

.manager__contacts-right {
    display: flex;

    img {
        width: 32px;
        height: 32px;
        background-size: cover;
    }

    a {
        display: block;

        +a {
            margin-left: 20px;
        }
    }
}


//  proposition section ------ //

.proposition {
    padding-bottom: 100px;
}


.proposition__title {
    h2 {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #FFFFFF;
    }
}

.proposition__item {
    margin: 0 auto 30px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    z-index: 3;

    &:after {
        content: '';
        position: absolute;
        z-index: 66;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 94%;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 20px;
    }


    .swiper-button-prev,
    .swiper-button-next {
        z-index: 99;
        top: 50%;
        width: auto;

        &::after {
            content: '';
            width: 40px;
            height: 40px;
            background-size: cover;
        }
    }

    .swiper-button-next {
        right: 5%;
        &::after {
            content: '';
            background-image: url(../img/svg_icons/slide_arrow_next.svg);
        }
    }

    .swiper-button-prev {
        left: 5%;
        &::after {
            content: '';
            background-image: url(../img/svg_icons/slide_arrow_prev.svg);
        }
    }

    .save_icon {
        position: absolute;
        z-index: 9;
        right: 20px;
        top: 20px;

        img {
            width: 35px;
            height: 35px;
            background-size: cover;
        }

        .saved {
            display: none;
        }

        .not-saved {
            display: block;
        }

        &.active {
            .saved {
                display: block;
            }

            .not-saved {
                display: none;
            }
        }
    }

    .slider__info {
        padding: 17px 20px;
        background-color: #302F2E;
        position: relative;
        z-index: 50;

        p {
            font-size: 14px;
            line-height: 125%;
            color: #fff;
        }

        .price {
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
            color: #000000;
        }
    }

    .slider__descr {
        background: #302F2E;
        padding: 0 10px 10px;
        position: relative;
        z-index: 2;

        &-row {
            display: flex;
            justify-content: space-between;
            background-color: #302F2E;
            border-radius: 20px;
            padding: 10px 20px;

        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #fff;

            img {
                width: 20px;
                height: auto;
                background-size: cover;
                margin-right: 6px;
            }
        }
    }

}

.slider {
    position: relative;
    overflow: initial;
    z-index: 99;

    &:after {
        content: '';
        position: absolute;
        z-index: 55;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 97%;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-bottom: none;
        border-radius: 20px 20px 0 0;
    }

    .description {
        position: absolute;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 20px 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) -19.17%, #000000 65%);

        &__row {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0 20px;
        }

        .info {
            margin-top: 10px;

            &-row {
                display: flex;
                align-items: center;
                padding: 0 20px;

                &+.info-row {
                    margin-top: 6px;
                }

                img {
                    margin-right: 6px;
                    width: 16px;
                    height: 17px;
                    background-size: cover;
                }

                p {
                    font-size: 12px;
                    line-height: 133%;
                    color: #C7C7C7;
                    font-weight: 400;
                }

                span {
                    color: #B0292E;
                    margin-right: 3px;
                }
            }
        }

        span {
            font-size: 16px;
            line-height: 125%;
            color: #FFFFFF;
        }

        p {
            font-weight: 600;
            font-size: 18px;
            line-height: 111%;
            text-align: right;
            color: #FFFFFF;
        }
    }

    .swiper-slide {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 267px;
            object-fit: cover;
            transition: .5s;
            background-repeat: no-repeat;
        }
    }

    &:hover {
        .swiper-slide-active img {
            transform: scale(1.08);
            filter: brightness(90%);
        }
    }
}

// RESPONSIVE ------------- //


@media(min-width: 375px) {
    .manager__contacts-right img {
        width: 36px;
        height: 36px;
    }

    .manager__contacts-right a+a {
        margin-left: 30px;
    }

    .manager__contacts-left a {
        font-size: 18px;
    }
}

@media(min-width: 425px) {
    .slider .swiper-slide img {
        height: 70vw;
    }

    .manager__title .manager__avatar {
        width: 136px;
        height: 136px;
    }

    .manager__title img {
        width: 122px;
        height: 122px;
    }

    .manager__title h1 {
        font-size: 30px;
    }

    .manager {
        max-width: 100%;
    }

}


@media(min-width: 567px) {
    .manager {
        padding: 110px 0 60px;
    }

    .slider .swiper-slide img {
        height: 340px;
    }
}

@media(min-width: 768px) {
    .slider .swiper-slide img {
        height: 268px;
    }

    .manager__contacts {
        margin-bottom: 60px;
    }

    .manager__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .manager__contacts {
        width: 100%;
    }
}


@media(min-width: 992px) {

    .manager__title {
        img {
            width: 225px;
            height: 225px;
        }

        h1 {
            display: none;
        }

        .manager__avatar {
            width: 250px;
            height: 250px;
            margin-right: 40px;
        }
    }

    .manager__inner {
        display: flex;
        justify-content: space-between;
    }

    .manager__contacts {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5%;
    }

    .manager__contacts-right {
        margin-top: 20px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .manager__contacts {
        width: 44%;
    }

    .manager__descr {
        width: 55%;
    }

    .manager__info {
        width: 580px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h1 {
            display: block;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 48px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 20px;
        }
    }

    .manager {
        max-width: 100%;
    }



    .manager-popup {
        background-color: rgba(#111, .5);

        .popup__body {
            background: #fff;
            border-radius: 20px;
            max-width: 1130px;
            padding: 95px 100px;
        }

        .manager {
            padding: 0;
            max-width: 900px;
            width: 100%;
        }

        .popup__close {
            top: 40px;
            right: initial;
            left: 40px;
        }


        .manager__info {

            h1 {
                color: #111111;
            }
        }

        .manager__descr {

            p {
                color: #111;
                font-weight: 400;
            }
        }


        .manager__btn.redbtn,
        .manager__btn.whitebtn {
            width: 48%;

            a:hover {
                background-color: #111;
                color: #fff;
            }
        }

        .manager__btn.whitebtn a {
            border: 1px solid #111;
        }

        .manager__btn+.manager__btn {
            margin-top: 0px;
        }


        .manager__contacts-left a {
            display: block;
            color: #111;
        }

        .manager__contacts-left a:before {

            background-image: url(../img/svg_icons/phone_black.svg);
        }

        .manager__title {
            img {
                width: 150px;
                height: 150px;
            }

            .manager__avatar {
                width: 165px;
                height: 165px;
                margin-right: 25px;
            }
        }
    }
}


@media(min-width: 1200px) {
    .proposition .col-xl-8 {
        width: 68%;
    }

    .slider .swiper-slide img {
        height: 220px;
    }

    .proposition__inner .col-12 {
        padding: 0 10px;
    }

    .manager {
        padding: 0px 0 60px;
    }

    .manager__info h1 {
        font-size: 50px;
        line-height: 62px;
    }



    .manager-popup {

        .popup__body {
            padding: 95px 100px;
        }

        .manager__title {
            img {
                width: 245px;
                height: 245px;
            }

            .manager__avatar {
                width: 270px;
                height: 270px;
                margin-right: 45px;
            }
        }
    }

    .manager__btn.redbtn,
    .manager__btn.whitebtn {
        a {
            font-size: 18px;
        }
    }

}


@media(min-width: 1400px) {
    .proposition .col-xl-8 {
        width: 72%;
    }

    .manager__title {
        img {
            width: 295px;
            height: 295px;
        }

        .manager__avatar {
            width: 325px;
            height: 325px;
            margin-right: 40px;
        }
    }
}